<form action="citycurrenttime" method="post">
	City? <input type="text" name="message" placeholder="Put your city name here!" size='60'>
	<br/>
	<br/>
	<br/>
  	<input type="submit" value="Get the time" style="margin-left:15em">
</form>
